body{
    display: flex;
    justify-content: center;
    background-color: white;
}

.forgot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-container {
    width: 35vw;
    height: 23vw;
    margin: auto;
    padding: 20px;
    background: #87bbf0;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .span-container{
    display: flex;
    justify-content: end;
  }
  
  .bi-bi-box-arrow-left{
    width: 2vw;
  }
  
  h2 {
    margin-bottom: 15px;
    color: #333;
  }
  
  .input-field {
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .password-container {
    position: relative;
    width: 100%;
  }
  
  .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
  }
  
  .update-button {
    width: 50%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .update-button:hover {
    background: #0056b3;
  }
  