.forgot-password-container {
    width: 350px;
    margin: auto;
    padding: 20px;
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
  }
  
  .employeeforgotpassword-container {
    margin-bottom: 15px;
    color: #333;
    font-size: 20px;
  }
  
  .input-field {
    width: 80%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .password-container {
    position: relative;
    width: 100%;
  }
  
  .eye-icon {
    position: absolute;
    /* right: 4px; */
    top: 50%;
    width: 0.5vw;
    font-size: 1.5vw;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
  }
  
  .update-button {
    width: 100%;
    padding: 12px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 12px;
    transition: background 0.3s ease-in-out;
  }
  
  .update-button:hover {
    background: #218838;
  }
  