.leaveRequest-container {
  width: 80vw;
  margin: auto;
  padding: 20px;
  color: black;
}

.leaveRequest-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.leaveRequest-btn:hover {
  background-color: #0056b3;
}

.leaveRequest-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.leaveRequest-formWrapper {
  display: flex;
  flex-direction: column;
  background: #e4dbdb;
  padding: 20px;
  border-radius: 8px;
  height: 25.5vw;
  width: 30vw;
}

.leaveRequest-form {
  display: flex;
  flex-direction: column;
  /* width: 10vw; */
  gap: 0.5vw;
  
}

.leaveRequest-field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px; /* Space between label and input */
}

.leaveRequest-label {
  flex: 0.7;
  font-weight: bold;
  text-align: left;
}

.leaveRequest-input,
.leaveRequest-textarea {
  flex: 1; 
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.leaveRequest-submitBtn {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.leaveRequest-submitBtn:hover {
  background-color: #218838;
}

.leaveRequest-status {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.leaveRequest-listTitle {
  margin-top: 30px;
  color: #333;
}

.leaveRequest-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.leaveRequest-table th, .leaveRequest-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.leaveRequest-table th {
  background-color: #f4f4f4;
}

.leaveRequest-noRequests {
  text-align: center;
  color: #888;
  font-style: italic;
}
